[core]
  excludesfile = ~/.gitignore
  whitespace=trailing-space,space-before-tab
[user]
  name = Justin Lilly
  email = justin@justinlilly.com
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  a = add
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ci = commit --verbose
  pick = cherry-pick --sign-off
  sb = status --short --branch
  st = status --short --branch
  log1 = log --pretty=oneline --abbrev-commit
  serve = daemon --reuseaddr --base-path=. --export-all --verbose
  top-commits = shortlog --summary --numbered --no-merges
  gdiff = difftool --gui --no-prompt
  prune-all = !git remote | xargs -n 1 git remote prune
#  fixme = grep -E "\#\s+([A-Z]{3,}+\:)"
[push]
	default = current
[github]
	user = justinlilly
[mergetool]
	tool = kdiff3
[diff]
    guitool = kdiff3
[apply]
    whitespace = fix
[rerere]
    enabled = true
