*.pyc
*.db
.svn/
.gitignore
.git/
local_settings.py
.DS_Store
.#*
.ipython/db/
.ipython/logs/
.ipython/history
.venv
*.wpr
.irssi/away.log
.project
.pydevproject
.settings
pip-log.txt
env
TAGS
.ipython/IPython_crash_report.txt
\#*\#
.irssi/*.log
*.swp
.bash_local
*.egg
/.shell/.local
*.ipw
*.ipr
*.6
6.out
build/lib/
build/scripts-2.7/
