[core]
	excludesfile = /Users/jlilly/.gitignore
[user]
  name = Justin Lilly
  email = justinlilly@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  log1 = log --pretty=oneline --abbrev-commit
